<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon class="icon">home</mat-icon>
        Home
      </a>
      <a mat-list-item>
        <mat-icon class="icon">dashboard</mat-icon>
        Dashboard
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- <div fxHide.gt-xs>  -->
      <!--bouton menu caché sauf pour les mobiles-->
      <button mat-icon-button fxHide.gt-xs (click)=sidenav.toggle()>
        <mat-icon>menu</mat-icon>
      </button>
      <!-- </div> -->

      <a>
        ColorImage
      </a>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a>
              <mat-icon class="icon">home</mat-icon>
              <span class="label">Home</span>
            </a>
          </li>
          <li>
            <a>
              <mat-icon class="icon">dashboard</mat-icon>
              <span class="label">Galerie</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>

    <color-image-upload></color-image-upload>

  </mat-sidenav-content>
</mat-sidenav-container>